html,
body,
.root {
  height: 100%;
}
body,
.app {
  background: #d1d3bb;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

/* Sidebar styling */

.sidebar-container {
  width: 30%;
  height: 100vh;
  text-align: center;
  display: inline-block;
  overflow-y: scroll;
  background-color: #d1d3bb;
}
.main-heading {
  font-family: "Roboto", serif;
  font-size: 2em;
  letter-spacing: 5px;
  padding: 10px 0 10px 0;
}

.sidebar-places-list {
  list-style: none;
  text-align: left;
  line-height: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:active {
  color: black;
}

.search-places {
  flex: 1;
}
.search-places-bar {
  display: block;
  margin: 0 auto;
  width: 90%;
  z-index: 5;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid grey;
  border-radius: 5px;
}
.search-places-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  outline: none;
}
.search-places-input {
}

.sidebar-places-container {
  width: 100%;
  display: flex;
  position: relative;
}
.sidebar-places-list {
  font-size: 0.8em;
  left: 0;
}

/* Map starts here */

.map-style {
  height: 100vh;
  width: 70%;
  display: inline-block;
  float: right;
}

/*Responsive styling below */

@media (max-width: 900px) {
  .sidebar-places-list {
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .map-style {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 900px) {
  .map-style {
    width: 100%;
    height: 55vh;
  }
}

@media (max-width: 900px) {
  .sidebar-container {
    width: 100%;
    height: 40vh;
  }
  .main-heading {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .main-heading {
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  .search-places-bar {
    width: 80%;
    height: 50%;
  }
  .search-places-bar input {
    font-size: 1em;
    padding: 5px 10px;
  }
}
